.carrossel {
    margin: 0 auto;
}

.carrossel_div {
    position: relative;
}

.carrossel_div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.carrossel_texto {
    position: absolute;
    top: 200px;
    left: 50;
    z-index: 2;
}

.carrossel_texto h2 {
    color: #fff;
    font-size: 52px;
    font-weight: 600;
    max-width: 500px;
    text-shadow: 0 0 1px #000;
}

.carrossel_texto p {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    max-width: 500px;
    text-shadow: 0 0 1px #000;
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .carousel-inner {
        min-height: 650px;
    }
    
    .carousel-item {
        height: 100vh; /* Faz com que o carrossel ocupe 100% da altura da tela */
    }
    
    .carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: cover; /* Garante que a imagem cubra toda a área sem deformar */
    }
}

@media (max-width: 762px) {
    .carrossel_texto h2 {
        font-size: 42px;
        max-width: 350px;
    }
    .carrossel_texto p {
        font-size: 18px;
        max-width: 350px;
    }
}

@media (max-width: 400px) {
    .carousel-item:first-child img {
        object-position: 80% center;
    }
    .carousel-item:nth-child(2) img {
        object-position: 60% center; /* Ajuste personalizado para a segunda imagem */
    }
    .carrossel_texto h2 {
        font-size: 35px;
        max-width: 300px;
    }
    .carrossel_texto p {
        max-width: 300px;
    }
}