.carrosel_div {
    position: relative;
}

.carrosel_div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.carrosel_texto {
    position: absolute;
    top: 200px;
    left: 50;
    z-index: 2;
}

.carrosel_texto h2 {
    color: #fff;
    font-size: 52px;
    font-weight: 600;
    max-width: 500px;
    text-shadow: 0 0 1px #000;
}

.carrosel_texto p {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    max-width: 500px;
    text-shadow: 0 0 1px #000;
    margin-top: 20px;
}

.div_oval {
    max-width: 1100px;
    height: 220px;
    margin: 0 auto;
    background: linear-gradient(to left, #52A8FF 0%, #1E6FB3 85%);
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    display: flex;
    align-items: center;
    color: #fff;
}

.div_oval .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div_info div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.div_info img {
    filter: invert(1);
    width: 25px;
    height: 25px;
}

/* Quem sou */

.js .sobre {
    opacity: 0;
    transition: .5s;
    transform: translate3d(-30px, 0, 0);
}

.js .sobre.ativo {
    opacity: 1;
    display: flex;
    gap: 40px;
    margin-top: 100px;
    transition: .5s;
    transform: translate3d(0px, 0, 0);
    margin-bottom: -100px;
}

.sobre img {
    display: block;
    height: 650px;
    border-radius: 60px;
}

.sobre h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.sobre p {
    max-width: 500px;
    margin-bottom: 20px;
    color: #666666;
    text-align: justify;
}

/* Sections Qualificacoes */

.qualificacoes {
    background: linear-gradient(#f1f1f1 0%, #ffffff 50%);
    width: 100%;
    height: 400px;
    align-content: center;
}

.qualificacoes .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.qualificacoes_info {
    max-width: 300px;
    display: flex;
    gap: 20px;
    margin-top: 100px;
}

.qualificacoes_info img {
    width: 30px;
    height: 30px;
}

.qualificacoes_info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.qualificacoes_info p {
    color: #666666;
}

/* Section Servicos */

.servicos {
    background: linear-gradient(#ffffff 0%, #f1f1f1f1 50%);
}

/* .servicos .container {
    padding-bottom: 0px;
} */

.servicos_img {
    background-color: #0079FF;
    height: 150px;
    border-radius: 50px 50px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0px 25px;
}

.servicos_info {
    background-color: #ffffff;
    height: 150px;
    border-radius: 0 0 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0px 25px;
}

.servicos_info h4 {
    font-size: 20px;
    color: #0059C3;
    font-family: 'Titillium Web', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    padding-bottom: 25px;
}

.servicos_info div a {
    font-family:Arial, Helvetica, sans-serif;
    color: #1E6FB3;
}

.servicos_info div a:hover::after {
    content: "➤";
    align-items: center;
    margin-left: 5px;
}

/* Section Dicas */

.dicas {
    position: relative;
    background: url(../../../img/dicas_background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.dicas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Cor branca semitransparente */
    z-index: 1;
}

.dicas .container {
    position: relative;
    z-index: 2; /* Coloca o conteúdo acima do pseudo-elemento */
}

.dicas h3 {
    color: #0059C3;
    font-size: 20px;
    margin-top: 60px;
    font-weight: 600;
}

.dicas p {
    color: #555555;
    max-width: 450px;
    font-size: 14px;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    line-height: 1.5em;
    margin-top: 10px;
}