.js .sobre {
    opacity: 0;
    transition: .5s;
    transform: translate3d(-30px, 0, 0);
}

.js .sobre.ativo {
    opacity: 1;
    display: flex;
    gap: 40px;
    margin-top: 100px;
    transition: .5s;
    transform: translate3d(0px, 0, 0);
    margin-bottom: -100px;
}

.sobre img {
    display: block;
    height: 650px;
    border-radius: 60px;
}

.sobre h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.sobre p {
    max-width: 500px;
    margin-bottom: 20px;
    color: #666666;
    text-align: justify;
}

@media (max-width: 945px) {
    .js .sobre.ativo {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 0px;
    }
    .sobre img {
        margin: 0 auto;
        border-radius: 60px;
    }
    .sobre p {
        font-size: 18px;
        max-width: 100vw;
        margin: 20px 50px;
    }  
}

@media (max-width: 768px) {
    .js .sobre.ativo {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 0px;
    }
    .sobre img {
        margin: 0 auto;
        border-radius: 60px;
    }
    .sobre p {
        font-size: 18px;
        max-width: 100vw;
        margin: 20px 50px;
    }
}